/* global LastFM */
/* exported lfmInstance, lfmDefaultUser, lfmDefaultTag */

var lfmDefaultUser = 'Joe Sample User';
var lfmDefaultTag  = 'seen live';

function lfmInstance() {
    return new LastFM({
        'apiKey':    'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
        'apiSecret': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
    });
}
